{% extends "layout/base.html" %}
{% block content %}

<div class="container-fluid" id="bio-container">
    <div class="row justify-content-center">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-12">
                    <h3 class="page-title">BIOGRAPHY</h3>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-8 col-md-6 col-lg-4">
                    <img src="static/images/brandon-fischer.jpg" class="bio-image" alt="Brandon Fischer portrait">
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-8 col-md-6 col-lg-4">
                    <p class="bio-text">Born and raised in Frankfurt, Brandon majored in photography, film and video
                        from The Hochschule für Bildende Künste Dresden. His degree course work included painting,
                        drawing and sculpture.
                    </p>
                    <p class="bio-text">Brandon has been placed as a finalist in the European Architectural Photography
                        Prize Architekturbild, in 2014, and his work has been shown at photo festivals around the world.
                    </p>
                    <p class="bio-text">Since year 2004, Brandon has been lecturing on architectural photography at
                        UUniversität der Künste Berlin for graduates taking master degrees in interior design.
                        The course analyses a wide range of architectural photographs and discusses their use as
                        communication tools in books,magazines and blogs.
                    </p>
                    <p class="bio-text">Brandon lives in Berlin’s lively Neukölln district.
                    </p>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Footer -->
{% include 'components/footer.html' %}

{% endblock %}