{% extends "layout/base.html" %}
{% block content %}

<div class="container-fluid" id="bio-container">
    <div class="row justify-content-center bio-div">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h3 class="page-title">BIOGRAPHY</h3>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-sm-12 col-md-6">
                    <p>Some text in here thanks Some text in here thanks Some text in here thanks 
                        Some text in here thanks Some text in here thanks Some text in here thanks 
                        Some text in here thanks Some text in here thanks Some text in here thanks 
                        Some text in here thanks anks Some text in here thanks 
                        Some text in here thanks Some text in here thanks Some text in here thanks 
                    </p>
                </div>
                <div class="col-sm-12 col-md-6">
                    <p>Some different text in here please thanks very much Some different text in 
                        here please thanks very much Some different text in here please thanks 
                        very much Some different text in here please thanks very much Some 
                        different text in here please thanks very much 
                    </p>
                </div>
                <div class="col-12">
                        <img src="static/images/exterior-03.jpg" class="image" alt="Image of building">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Footer -->
{% include 'components/footer.html' %}

{% endblock %}