{% extends "layout/base.html" %}
{% block content %}

<div class="row justify-content-center">
    <h3 class="page-title">CONTACT</h3>
</div>

<div class="row justify-content-center" id="contact-page-container">
    <div class="col-12">

        <div class="row justify-content-center">
				<a href="#" target="_blank" aria-label="Contact phone number" rel="noopener">
					<p class="contact-details">+49(0) 798 0981</p>
					<span class="sr-only">+49(0) 798 0981</span>
				</a>
        </div>
        <div class="row justify-content-center">
				<a href="#" target="_blank" aria-label="Email address" rel="noopener">
					<p class="contact-details">info@brandonfischer.com</p>
					<span class="sr-only">info@brandonfischer.com</span>
				</a>
        </div>
    </div>

</div>
    
<!-- Footer -->
{% include 'components/footer.html' %}

{% endblock %}