{% extends "layout/base.html" %}
{% block content %}

<div class="row justify-content-center" id="home">
    <div class="">
        <h1 id="name" class="justify-content-center col-12 d-none d-md-block">BF</h1>
        <h2 id="strapline" class="justify-content-center col-12 d-none d-md-block">ARCHITECTURAL <br> PHOTOGRAPHY</h2>
    </div>
    <video id="videoBG" poster="static/images/video-load-image.jpg" autoplay muted loop>
        <source src="{{url_for('static', filename='video/home-video.mp4')}}" class="col-12 d-none d-md-block" type="video/mp4">
    </video>
</div>

<div class="row justify-content-center col-12 d-sm-none" id="home-mobile">
        <p id="name-mobile">BF</p>
        <p id="strapline-mobile">ARCHITECTURAL PHOTOGRAPHY</p>
        <!--<img src="{{url_for('static', filename='images/video-load-image.jpg')}}" alt="Background">-->
</div>

{% endblock %}