{% extends "layout/base.html" %}
{% block content %}

<div class="row justify-content-center" id="home">
    <div class="">
        <h1 id="name" class="justify-content-center">BF</h1>
        <h2 id="strapline" class="justify-content-center">ARCHITECTURAL <br> PHOTOGRAPHY</h2>
    </div>
    <video id="videoBG" poster="static/images/video-load-image.jpg" autoplay muted loop>
        <source src="{{url_for('static', filename='video/buildings-HD-1080p.mp4')}}" type="video/mp4">
    </video>
</div>

{% endblock %}