{% extends "layout/base.html" %}
{% block content %}
    
<div class="row justify-content-center">
    <h3 class="page-title">INTERIORS</h3>
</div>
<div class="row justify-content-center">
<div class="carousel-container">
        <i class="fas fa-arrow-left" id="prevBtn"></i>
        <i class="fas fa-arrow-right" id="nextBtn"></i>
    <div class="carousel-slide">
        <img src="static/images/exterior-04.jpg" id="lastClone" alt="image4">
        <img src="static/images/exterior-01.jpg" alt="image1">
        <img src="static/images/exterior-02.jpg" alt="image2">
        <img src="static/images/exterior-03.jpg" alt="image3">
        <img src="static/images/exterior-04.jpg" alt="image4">
        <img src="static/images/exterior-01.jpg" id="firstClone" alt="image1">
    </div>
</div>
</div>
<p id="demo">Some text</p>
<!-- <button id="prevBtn">Prev</button>
<button id="nextBtn">Next</button> -->

<!-- Footer -->
{% include 'components/footer.html' %}

{% endblock %}