{% extends "layout/base.html" %}
{% block content %}

<div class="row justify-content-center">
    <h3 class="page-title">INTERIORS</h3>
</div>

<div class="slider">
      <div class="slide current">
        <div class="content">
          <p>One</p>
        </div>
      </div>
      <div class="slide">
        <div class="content">
          <p>Two</p>
        </div>
      </div>
      <div class="slide">
        <div class="content">
          <p>Three</p>
        </div>
      </div>
      <div class="slide">
        <div class="content">
          <p>Four</p>
        </div>
      </div>
      <div class="slide">
        <div class="content">
          <p>Five</p>
        </div>
      </div>
      <div class="slide">
        <div class="content">
          <p>Six</p>
        </div>
      </div>
      <div class="slide">
        <div class="content">
          <p>Seven</p>
        </div>
      </div>
      <div class="slide">
        <div class="content">
          <p>Eight</p>
        </div>
      </div>
      <div class="slide">
        <div class="content">
          <p>Nine</p>
        </div>
      </div>
      <div class="slide">
        <div class="content">
          <p>Ten</p>
        </div>
      </div>
      <div class="slide">
        <div class="content">
          <p>Eleven</p>
        </div>
      </div>
      <div class="slide">
        <div class="content">
          <p>Twelve</p>
        </div>
      </div>

    <div class="buttons">
      <button id="prev"><i class="fas fa-arrow-left"></i></button>
      <button id="next"><i class="fas fa-arrow-right"></i></button>
    </div>
</div>  

<!-- Footer -->
{% include 'components/footer.html' %}

{% endblock %}