{% extends "layout/base.html" %}
{% block content %}

<div class="container-fluid" id="testimonial-container">
    <div class="row justify-content-center">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h3 class="page-title">TESTIMONIALS</h3>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-8 col-md-8 col-lg-8">
                    <p class="testimonial-subhead-top">Gabriele Romano  |  ARCHITECT</p>
                    <p class="bio-text">“It is twenty years now that Brandon photographs my works. During this time, his quality has never ceased to increase and there is a surprising harmony between my architecture formal values and the expression he obtains from. Sometimes his powerful abstractions seduce without sacrificing realism: his photographs are the result of his ability to highlight what is more remarkable eliminating what is superfluous".
                    </p>
                    <p class="testimonial-subhead">James Saul + Partners  |  ARCHITECTS</p>
                    <p class="bio-text">“Brandon photographed Las Arenas in Barcelona with a great sensitivity for its context. His thorough research and preparation, as well as a his patience with some unseasonal weather conditions, resulted in some excellent images. We feel that his photographs capture the intent of the design and the spirit of the architecture beautifully".</p>
                    <p class="testimonial-subhead">Julieta Gener  |  CEO Barcelona Hernández Aguirre De León</p>
                    <p class="bio-text">"Brandon Fischer photographs are of an exceptional quality, from my point of view, authentic artworks. I have been fortunate to collaborate with Brandon on several occasions, so I can prove his great professionalism and solvency. He is a professional who makes the difference".</p>
                    <p class="testimonial-subhead">James gautier  |  managing director Batlló</p>
                    <p class="bio-text">“Helpful, attentive, committed, receptive, valid and professional in his field, it has always been a pleasure to work with Brandon".
                    </p>
                     <p class="testimonial-subhead">Evelina Vilas  |  director of photography descobrir magazine</p>
                    <p class="bio-text">“I love your photos. The processing that you do is very personal, lively and vital and I like that a lot. These photos have your mark on personality, and that is fine !!”.
                    </p>
                    <p class="testimonial-subhead">Mateo Gomez de Villa Boa  |  curator archatlas</p>
                    <p class="bio-text">“Brandon Fischer is passionate about his work, professional, dedicated, and knowledgeable about architecture and photography. From the first time I found his work to be authentic. In a time when the glut of information makes many photographers and architects rely on gimmicks and affectations Fischer's work shines because of its honesty. The building design, the spaces and light, its colors and details, come through on the images in a way that makes us feel like we are there. His recent series focused on Gaudi’s work has allowed me to really experience these projects for the first time, in images that are crisp and filled with light".
                    </p>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Footer -->
{% include 'components/footer.html' %}

{% endblock %}