{% extends "layout/base.html" %}
{% block content %}

<section id="video-container" class="container-fluid">

    <div class="row justify-content-center">
        <h3 class="page-title">VIDEO</h3>
    </div>

    <div class="row video-box justify-content-center">
        <div class="col-1 btn-left">Prev</div>
        <div class="col-10" id="slide-video-1">
            <img src="static/images/exterior-01.jpg" alt="image1" class="img-fluid slide-image">
            <p class="image-caption">Caption for image 1</p>
        </div>
        <div class="col-1 btn-right">Next</div>
    </div>

</section>

<!-- Footer -->
{% include 'components/footer.html' %}

{% endblock %}