{% extends "layout/base.html" %}
{% block content %}

<div class="row justify-content-center">
    <h3 class="page-title">VIDEO</h3>
</div>



<div class="slider">
      <div class="slide current">
        <div class="content">
          <p>Slide One</p>
        </div>
      </div>
      <div class="slide">
        <div class="content">
          <p>Slide Two</p>
        </div>
      </div>
      <div class="slide">
        <div class="content">
          <p>Slide Three</p>
        </div>
      </div>
      <div class="slide">
        <div class="content">
          <p>Slide Four</p>
        </div>
      </div>

    <div class="buttons">
      <button id="prev"><i class="fas fa-arrow-left"></i></button>
      <button id="next"><i class="fas fa-arrow-right"></i></button>
    </div>
</div>  

<!-- Footer -->
{% include 'components/footer.html' %}

{% endblock %}