@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;800&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    font-family: 'Work Sans', sans-serif;
    text-decoration: none;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}


/* Navbar */

#navbar-nav-dropdown {
    font-size: 1rem;
}

#navigation-bar {
    position: sticky;
    width: 100vw;
    overflow-x: hidden;
    top: 0;
    left: 0;
    padding-right: 1rem;
    z-index: 2;
    background-color: #fff !important;
    letter-spacing: 0.1rem;
}

.navbar-brand {
    font-size: 1rem;
    color: #000 !important;
    letter-spacing: 0.6rem;
    font-weight: 800;
    line-height: 1rem;
}

.nav-link {
    font-size: .9rem;
    color: #000 !important;
    text-align: right !important;
}

.nav-link:hover {
    text-decoration: underline;
    transition: .1s ease-in-out;
}

/* Home Page */

#introcontainer {
    height: 90vh;
    width: 100vw;

    position: relative;
    margin-top: -4.5rem;
    overflow-x: hidden;
    background: url('static/images/video-load-image.jpg') no-repeat center center; 
    background-size: cover;
    
    align-items: center;
    justify-content: center;
}

#home {
    background-color: #000;
    z-index: -2;
    height: 90vh;
    width: 100vw;
    overflow-x: hidden;
    position: relative;
    background-size: cover;
    align-items: center;
    justify-content: center;
}

#name {
    color: #fff;
    font-size: 15rem;
    text-align: center;
    letter-spacing: 1rem;
    font-weight: 800;
    margin-bottom: -2rem;
}

#strapline {
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
    letter-spacing: 1rem;
    font-weight: 800;
}

/* Video BG */

#videoBG {
    background-size: cover;
    position: fixed;
    z-index: -1;
}

@media (min-aspect-ratio: 16/9) {
    #videoBG {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    #videoBG {
        width: auto;
        height: 100%;
    }
}

@media (max-width: 767px) {
    #videoBG {
        display: none;
    }
    #home {
        background-color: #000;
        width: 105vw;
        height: 94vh;
    }
    #name {
       color: #fff;
       font-size: 9rem;
       margin-bottom: 0.25rem;
    }
    #strapline {
       color: #fff;
       font-size: 1rem;
    }
} 


/* General styles */

.page-title {
    color: #000;
    font-size: 1.5rem;
    text-align: center;
    letter-spacing: 1rem;
    font-weight: 800;
    margin-top: 1rem;
}

/* Contact Page */

contact-page {
    background-color: aquamarine;
    width: 100vw;
    height: 85vh;
    position: relative;
    overflow-x: hidden;    
    align-items: center;
    justify-content: center;
}

#contact-page {
    background: url("{{url_for('static', filename='images/exterior-2.jpg')}}") no-repeat center center fixed;
    background-size: cover;
    height: auto;
    background-color: aquamarine;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: -5;
}

.contact-details {
    color: #000;
    font-size: 1rem;
    text-align: center;
    letter-spacing: 0.25rem;
    font-weight: 800;
    align-items: center;
}

/* Footer */

footer {
    background-color: none;
    position: relative;
    padding-top: 1rem;
    margin-top: auto;
    text-align: center !important;
}

#copyright {
    color: #000;
    font-size: 0.7rem;
    text-align: center;
    margin-top: -1rem;
}