@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    font-family: 'Work Sans', sans-serif;
    text-decoration: none;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}


/* Navbar */

#navbar-nav-dropdown {
    font-size: 1rem;
}

#navigation-bar {
    position: sticky;
    width: 100vw;
    overflow-x: hidden;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: #fff !important;
    letter-spacing: 0.1rem;
}

.navbar-brand {
    font-size: 1rem;
    color: #000 !important;
    letter-spacing: 0.6rem;
    font-weight: 800;
    line-height: 1rem;
}

.nav-link {
    font-size: .9rem;
    color: #000 !important;
    text-align: right !important;
}

.nav-link:hover {
    text-decoration: underline;
    transition: .1s ease-in-out;
}

/* Home Page */

#introcontainer {
    height: 90vh;
    width: 100vw;

    position: relative;
    margin-top: -4.5rem;
    overflow-x: hidden;
    background-size: cover;
    
    align-items: center;
    justify-content: center;
}

#home {
    background-color: #000;
    z-index: -10;
    height: 90vh;
    width: 100vw;
    overflow-x: hidden;
    position: relative;
    background-size: cover;
    align-items: center;
    justify-content: center;
}

#name {
    color: #fff;
    font-size: 15rem;
    text-align: center;
    letter-spacing: 1rem;
    font-weight: 800;
    margin-bottom: -2rem;
}

#strapline {
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
    letter-spacing: 1rem;
    font-weight: 800;
}

/* Video BG */

#videoBG {
    background-size: cover;
    position: fixed;
    z-index: -1;
}

@media (min-aspect-ratio: 16/9) {
    #videoBG {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    #videoBG {
        width: auto;
        height: 100%;
    }
}

@media (max-width: 767px) {
    #videoBG {
        display: none;
        background-image: img src="static/images/exterior-1.jpg";
    }
    #home {
        background-color: #000;
        width: 105vw;
        height: 94vh;
    }
    #name {
       color: #fff;
       font-size: 9rem;
       margin-bottom: 0.25rem;
    }
    #strapline {
       color: #fff;
       font-size: 1rem;
    }
} 


/* General styles */

.page-title {
    color: #000;
    font-size: 1.5rem;
    text-align: center;
    letter-spacing: 1rem;
    font-weight: 800;
    margin-top: 1rem;
    margin-bottom: 1.2rem;
}

.image-page-container {
    background-color: pink;
    width: 100vw;
    height: 75vh;
    top: 0;
    left: 0;
    position: relative;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.image-caption {
    color: #000;
    font-size: 0.8rem;
    font-weight: 300;
    margin-top: 0.3rem;
    text-align: center;
}

.carousel-control-prev-icon {
    color: #000;
}

.carousel-control-next-icon {
    color: #000 !important;
}

.carousel-control-prev {
    color: red;
}
/* Contact Page */

#contact-page-container {
    background: url('/static/images/exterior-01.jpg') no-repeat center center;
    background-size: cover;
    width: 100vw;
    height: 86vh;
    top: 0;
    left: 0;
    position: relative;
    overflow-x: hidden;    
    align-items: center;
    justify-content: center;
}

#page-title-contents {
    color: #000;
    font-size: 1.5rem;
    text-align: center;
    letter-spacing: 1rem;
    font-weight: 800;
    margin-top: -9.2rem;
}

.contact-details {
    color: #000;
    font-size: 1rem;
    text-align: center !important;
    align-items: center;
    letter-spacing: 0.25rem;
    font-weight: 800;
}

.contact-details:hover {
    text-decoration: underline;
    transition: .1s ease-in-out;
}

.contact-image {
    width: 30rem;
    height: auto;
    margin-bottom: 3rem;
}

/* Video Page */

#video-container {
    background-color: lawngreen;
    height: 85vh;
    position: relative;
    background-size: cover;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;  
}

.video-box {
    background-color: lawngreen;
    height: 80vh;
    width: 100vw;
    align-items: center;
}

.slide-image {
    margin: auto;
    max-height: 40rem;
    height: auto;
    align-items: center !important;
}

/* CSS from tutorial: HTML, CSS, JS https://www.youtube.com/watch?v=KcdBOoK3Pfw

.carousel-container {
    width: 110%;
    margin: auto;
    overflow: hidden;
}

.carousel-slide {
    display: flex;
    width: 100%;
    height: flex;
    position: relative;
}

#prevBtn {
    position: absolute;
    top: 50%;
    z-index: 10;
    left: 15%;
    font-size: 1.5rem;
    color: #000;
    cursor: pointer;
}

#nextBtn {
    position: absolute;
    top: 50%;
    z-index: 10;
    right: 15%;
    font-size: 1.5rem;
    color: #000;
    cursor: pointer;
}

background-color: rgba(255, 255, 255, 0.8);

*/

/* Bio Page */

#bio-container {
    height: 87vh;
    position: relative;
    background-size: cover;
    justify-content: center;
    overflow-x: hidden;
    padding: 0;
}

.bio-div {
    padding: 0;
    max-height: fit-content;
}

.bio-text {
    margin-bottom: 1rem;
}

.bio-image {
    max-width: 100%;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

/* testimonial */

#testimonial-container {
    background-color: pink;
    height: 87vh;
    position: relative;
    background-size: cover;
    justify-content: center;
    overflow-x: hidden;
    padding: 0;
}

/* From Tutorial https://www.youtube.com/watch?v=wWWNrANNO1k*/

.slider {
  position: relative;
  overflow: hidden;
  height: 85vh;
  width: 100vw;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 94%;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.slide.current {
  opacity: 1;
}

.slide .content {
  position: absolute;
  bottom: -40px;
  left: -300px;
  opacity: 0;
  width: 300px;
  color: #000;
  padding-left: 10px;
}

.slide .content p {
    font-size: 0.8rem;
    text-align: left;
}

.slide.current .content {
    opacity: 1;
    transform: translateX(300px);
    transition: all 0.7s ease-in-out 0.1s;
}

.buttons button#next {
    position: absolute;
    top: 50%;
    right: 35px;
}

.buttons button#prev {
    position: absolute;
    top: 50%;
    left: 20px;
}

.buttons button {
    border: 2px solid #fff;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    padding: 8px 13px;
    border-radius: 50%;
    outline: none;
}

.buttons button:hover {
    background-color: rgba(255, 255, 255, 0.5);;
}


.slide-info {
    color: red;
}

/* Slider images */

.slide:first-child {
    background: url('/static/images/exterior-1.jpg') no-repeat center center/cover;
}
.slide:nth-child(2) {
    background: url('/static/images/exterior-2.jpg') no-repeat center center/cover;
}
.slide:nth-child(3) {
    background: url('/static/images/exterior-3.jpg') no-repeat center center/cover;
}
.slide:nth-child(4) {
    background: url('/static/images/exterior-4.jpg') no-repeat center center/cover;
}


/* Footer */

footer {
    background-color: none;
    position: relative;
    margin-top: auto;
    text-align: center !important;
}

#copyright {
    color: #000;
    font-size: 0.7rem;
    text-align: center;
    margin-top: -1rem;
}

.social-links {
    margin-bottom: 1rem;

}

.social-links li a i {
    width: 1rem;
    height: 1rem;
    font-size: 1.2rem;
    text-align: center;
    color: #000;
}

.social-links li a i:hover {
    text-decoration: underline;
    transition: .1s ease-in-out;
}