<div id="navigation-bar">
	<nav class="navbar navbar-expand-sm navbar-light">
        <a class="navbar-brand" href="{{ url_for('index') }}">BRANDON <br>FISCHER</a>
        
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
		<div class="collapse navbar-collapse" id="navbarNavDropdown">
			<ul class="ml-auto navbar-nav">
				<li class="nav-item">
					<a class="nav-link" id="nav-home" href="{{ url_for('index') }}">Home</a>
                </li>
				<li class="nav-item">
					<a class="nav-link" id="nav-exteriors" href="{{ url_for('exteriors') }}">Exteriors</a>
                </li>
                <li class="nav-item">
					<a class="nav-link" id="nav-interiors" href="{{ url_for('interiors') }}">Interiors</a>
                </li>
                <li class="nav-item">
					<a class="nav-link" id="nav-video" href="{{ url_for('video') }}">Video</a>
                </li>
                <li class="nav-item">
					<a class="nav-link" id="nav-bio" href="{{ url_for('biography') }}">Biography</a>
                </li>
                <li class="nav-item">
					<a class="nav-link" id="nav-testimonials" href="{{ url_for('testimonials') }}">Testimonials</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="nav-contact" href="{{ url_for('contact') }}">Contact</a>
				</li>
			</ul>
		</div>
	</nav>
</div>